.slider {
  display: flex;
  gap: 1rem;
  & > .fa {
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    top: 100px;
    color: #ccc;
  }
  .fa-chevron-left {
    margin-right: 1rem;
  }
  .fa-chevron-right {
    margin-left: 1rem;
  }
}
.cards {
  display: flex;
  gap: 1rem;
  max-width: 1070px;
  overflow: hidden;
  transition: 0.6s;
}
